<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div>
      <h1>SignUp</h1>
      <P>제 웹사이트를 방문해 주셔서 감사합니다!</P>
    </div>
    <div>
      <form action="/user/" method="post">
        email : <input type="text" name="email" /><br />
        password : <input type="password" name="password" /><br />
        nickname : <input type="text" name="nickname" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
