<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <div class="login-form-container shadow">
      <div class="login-form-right-side">
        <div class="top-logo-wrap">

        </div>
        <h1>잔디 심는 <br>곽곽이</h1>
        <p>잔디 심는 곽곽이에서<br>
           주니어 개발자들 간의 소통을 즐기세요!</p>
      </div>
      <div class="login-form-left-side">
        <div class="login-top-wrap">
          <span>계정이 없으신가요?</span>
          <button class="create-account-btn shadow-light" onclick = "location.href = '/signup'">회원가입 하러가기</button>
        </div>
        <form action="/user/login" method="post"class="login-input-container">
          <div class="login-input-wrap input-id">
            <i class="far fa-envelope"></i>
            <input placeholder="Email" name="email" type="text">
          </div>
          <div class="login-input-wrap input-password">
            <i class="fas fa-key"></i>
            <input placeholder="Password" name="password" type="password">
          </div>
          <div class="login-btn-wrap">
            <button type="submit" class="login-btn">로그인</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>